* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: white;
    background-color: blueviolet;
    text-decoration: underline;
}

.btn {
    background-color: blueviolet;
    color: white;
}