h1 {
  text-align: center;
  color: white;
  background-color: blueviolet;
  text-decoration: underline;
}

.btn {
  background-color: blueviolet;
  color: white;
  display: block;
  margin: auto;
}

.btn:hover {
    background-color: black;
}

#search-input {
    display: block;
    margin: auto;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

p {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}